* {
    margin: 0;
    text-align: center;
    background-color: #fafafa;
    font-family: 'Verdana';
}

h1 {
    margin-top: 2%;
}

.emoji {
    cursor: pointer;
    display: inline-block;
}

.cell {
    opacity: 0;

}

.container {
    text-align: center;
    display: inline-block;
    left: 50%;
    transform: (-50%, -50%);
    margin-top: 2%;
    font-size: 24px;
    border-radius: 1%;
    background-color: rgb(205, 205, 205);
}

td {
    background-color: #dadada;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}


.buttons-container {
    margin-top: 2%;
}

.button {
    width: 150px;
    height: 40px;
    border-radius: 6px;
    margin: 0.5%;
}


.hide {
    opacity: 0;
}

.show {
    opacity: 1;

}